<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4 text-primary">Create User Confirmation</h3>
                </div>

                <div class="card-body">  
                  <%= form_with model: @user, :html => { :style => 'width: 80%;' } do |form| %>
                    <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Name" %> </div>
                        <div class="col-sm-6"><%= form.text_field :name, :readonly => true, class: "form-control" %></div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Email Address" %> </div>
                        <div class="col-sm-6"> <%= form.text_field :email, :readonly => true, class: "form-control" %> </div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "password" %> </div>
                        <div class="col-sm-6"> <%= form.password_field :password, :value => @user.password, :readonly => true, class: "form-control" %> </div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Confirm Password" %> </div>
                        <div class="col-sm-6"> <%= form.password_field :password_confirmation, :value => @user.password_confirmation, :readonly => true, class: "form-control" %> </div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Type" %> </div>
                        <div class="col-sm-6"> <%= form.text_field :role , :value => User.usertypes.values[@user.role.to_i], class: "form-control", :readonly => true %> </div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Phone" %> </div>
                        <div class="col-sm-6"> <%= form.text_field :phone, :readonly => true, :value => @user.phone, class: "form-control" %> </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Date of Birth" %> </div>
                        <div class="col-sm-6"><%= form.text_field :dob, id: 'datepicker', :autocomplete => :off, class: "form-control" %> </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Address" %> </div>
                        <div class="col-sm-6"> <%= form.text_field :address, :readonly => true, class: "form-control" %> </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label "Profile" %> </div>
                        <div class="col-sm-6"> <%= image_tag @user.profile, style: 'height:150px;width:auto;' %> </div>
                        <label style="color: red;">*</label>
                    </div>
                    <%= form.hidden_field :profile, :value => @user.profile %>
                    <div class="form-group mb-3 row mb-0">
                      <div class="col-sm-5 col-form-label text-end"> </div>
                      <div class="col-sm-7">
                          <%= form.submit "Create", class: 'btn btn-primary' %>
                          <%= button_tag "Clear", class: 'btn btn-secondary', type: :reset %>
                      </div>
                    </div>
                  <% end %>
                </div>

            </div>
        </div>
    </div>
</div>