<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Post Detail</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
	<form>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Post Title:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.title %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Post Description:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.description %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Post Status:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.status == 0  ? 'InActive' : 'Active' %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Created At:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.created_at.strftime('%Y/%m/%d') %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Created User:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.created_user.name %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Updated At:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.updated_at.strftime('%Y/%m/%d') %>">
      	</div>
      	<div class="form-group">
        	<label for="recipient-name" class="col-form-label">Updated User:</label>
        	<input type="text" class="form-control" id="recipient-name" value="<%= @post.updated_user.name %>">
      	</div>
    </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
