<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4 text-primary">Create Post</h3>
                </div>

                <div class="card-body">  
                  <%= form_with model: @post, url: create_form_posts_path, :html => { :style => 'width: 80%;' } do |form| %>
                    <ul>
                        <% @post.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label :title %> </div>
                        <div class="col-sm-6"><%= form.text_field :title, class: "form-control" %></div>
                        <label style="color: red;">*</label>
                    </div>

                    <div class="form-group mb-3 row">
                        <div class="col-sm-5 col-form-label text-end"> <%= form.label :description %> </div>
                        <div class="col-sm-6"> <%= form.text_area :description, class: "form-control" %> </div>
                        <label style="color: red;">*</label>
                    </div>
                    <%= form.number_field :create_user_id, value: current_user.id.to_i, type: :hidden %>
                    <%= form.number_field :updated_user_id, value: current_user.id.to_i, type: :hidden %>
                    <div class="form-group mb-3 row mb-0">
                      <div class="col-sm-3 col-form-label text-end"> </div>
                      <div class="col-sm-9">
                          <%= form.submit "Confirm", class: 'btn btn-primary' %>
                          <%= button_tag "Clear", class: 'btn btn-secondary', type: :reset %>
                          <%= link_to "Back",  url_for(:back), class: 'btn btn-light' %>
                      </div>
                    </div>
                  <% end %>
                </div>

            </div>
        </div>
    </div>
</div>